@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: 'Rubik', sans-serif;
	overflow-x: hidden;
	color: $text;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}

.home-banner{
	margin-bottom: 80px;
	.banner__container{
		box-shadow: 0px 24px 40px rgba(0, 0, 0, 0.3);
		border-radius: 16px;
	}
	.inner{
		max-width: 1850px;
	}
	.banner__slider{
		border-radius: 16px;
		position: relative;
	}
	.slick-slide>div{
		display: flex;
		align-items: stretch;
	}
	.slider__controls{
		position: absolute;
		right: 40px;
		bottom: 28px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		a{
			margin: 0 16px;
			transition: all .5s ease;
		}
		.sl-prev{
			&:hover{
				transform: translateX(-5px);
			}
		}
		.sl-next{
			&:hover{
				transform: translateX(5px);
			}
		}
	}
	.item{
		border-top-left-radius: 16px;
		border-top-right-radius: 16px;
		outline: none;
		height: 750px;
		position: relative;
		img{
			max-width: 100%;
		}
	}
	.slider{
		position: relative;
		margin-bottom: 0;
	}
	.slick-dots{
		position: absolute;
		bottom: 35px;
		left: 50%;
		transform: translateX(-50%);
		width: 50%;
		li{
			button{
				border-radius: 50px;
				background-color: #F5F6FA;
				width: 12px;
				height: 12px;
				border: 2px solid #FFFDFE;
				&:before{
					color: #F5F6FA;
				}
			}
		}
		li.slick-active{
			button{
				background-color: #EFB39B;
				border: 2px solid #FFFDFE;
				transition: all .4s ease;
				&:before{
					color: #EFB39B;
				}
			}
		}
	}
	.slider__description{
		position: absolute;
		right: 3%;
		top: 50%;
		transform: translateY(-50%);
		.slogan{
			display: block;
			font-weight: 700;
			font-size: 65px;
			line-height: 70px;
			letter-spacing: .03em;
			text-transform: uppercase;
			color: #fff;
			position: relative;
			z-index: 1;
			text-align: center;
		}
		.title{
			display: block;
			text-align: center;
			color: #ffffff;
			font-size: 45px;
			line-height: 55px;
			margin-bottom: 5px;
		}
		.link{
			width: 350px;
			height: 56px;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			background-color: #efb39b;
			color: #ffffff;
			font-size: 24px;
			line-height: 30px;
			text-transform: uppercase;
			margin: 0 auto;
			margin-top: 20px;
			border-radius: 10px;
			text-decoration: none;
			position: relative;
			overflow: hidden;
			z-index: 1;
			transition: all .6s ease;
			outline: none!important;
			&:before{
				content: '';
				position: absolute;
				width: 110%;
				height: 100%;
				background: linear-gradient(241.25deg, #8084A7 5%, #CAE4D8 95%), #CAE4D8;
				transform: skewX(-30deg) translateX(-100%);
				bottom: 0%;
				left: -5%;
				transition: all .4s ease;
				z-index: -1;
				display: block;
				border-radius: 10px;
				outline: none;
			}
			&:hover{
				text-decoration: none;
				box-shadow: 0px 0px 10px 0px #efb39b;
				&:before{
					transform: skewX(-30deg) translateX(0%);;
				}
			}
		}
	}
}

.home-category{
	margin-bottom: 80px;
	.banner__category{
		box-shadow: 0px 6px 40px rgba(0, 0, 0, 0.15);
		border-radius: 16px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: stretch;
		border-bottom-left-radius: 16px;
		border-bottom-right-radius: 16px;
		margin-top: -8px;
	}
	.category__item{
		min-height: 180px;
		position: relative;
		width: 16.66666%;
		text-decoration: none;
		color: #000;
		transition: all .5s ease;
		border-right: 1px solid #8084a720;
		display: flex;
		align-items: stretch;
		&:before{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 0;
			background: linear-gradient(228.59deg, #FEE2D7 0%, #EFB39B 71.76%);
			opacity: 0;
			visibility: hidden;
			transition: all .3s ease;
		}
		&:hover{
			&:before{
				opacity: 1;
				visibility: visible;
			}
			.category__arrow{
				transform: translateX(5px);
				svg{
					fill: #996550;
				}
			}
			.category__title{
				color: #996550;
			}
		}
		&:first-child{
			border-bottom-left-radius: 16px;
			border-top-left-radius: 16px;
			&:before{
				border-bottom-left-radius: 16px;
				border-top-left-radius: 16px;
			}
		}
		&:last-child{
			border-right: 0;
			.category__item-contain{
				background-position: 24px 79%;
				border-bottom-right-radius: 16px;
				border-top-right-radius: 16px;
			}
			&::before{
				border-bottom-right-radius: 16px;
				border-top-right-radius: 16px;
			}
		}
	}
	.category__item-contain{
		background-repeat: no-repeat;
		background-position: center bottom;
		width: 100%;
		padding: 24px;
		position: relative;
		z-index: 1;
	}
	.category__title{
		display: block;
		font-weight: 500;
		font-size: 14px;
		line-height: 24px;
		letter-spacing: 0.03em;
	}
	.category__arrow{
		position: absolute;
		display: inline-block;
		bottom: 24px;
		right: 24px;
		height: 24px;
		width: 24px;
		transition: all .5s ease;
		svg{
			transition: all .3s ease;
		}
	}
}

.home-colabs{
	padding-top: 88px;
	background-color: #000000;
	.colab__list{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: stretch;
	}
	.colab__item{
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		transition: all 1s ease;
		overflow: hidden;
		color: #ffffff;
		text-decoration: none;
		min-height: 360px;
		img{
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			z-index: 0;
			transition: all .5s ease;
			width: 100%;
		}
		&:hover{
			img{
				transform: translate(-50%, -50%) scale(1.1);
			}
		}
	}
	.colab__text{
		font-weight: bold;
		font-size: 40px;
		line-height: 60px;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		color: #FFFFFF;
		position: relative;
		z-index: 1;
		text-align: center;
	}
	.view-all{
		display: block;
		padding: 24px 40px;
		background-color: #000000;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		font-weight: 500;
		font-size: 16px;
		line-height: 40px;
		letter-spacing: 0.03em;
		color: #FFFFFF;
		text-decoration: none;
		transition: all .3s ease;
		svg{
			transition: all .3s ease;
			path{
				transition: all .3s ease;
			}
		}
		&:hover{
			color: #996550;
			svg{
				transform: translateX(10px);
				path{
					fill: #996550;
				}
			}
		}
	}
}

.home-news{
	.news__list{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: stretch;
	}
	.news__item{
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		color: #000;
		text-decoration: none;
		&:hover{
			.item__thumb{
				img{
					transform: scale(1.1);
				}
			}
			.item__arrow{
				svg{
					transform: translateX(5px);
					path{
						fill: #996550;
					}
				}
			}
		}
	}
	.slick-slide{
		&:nth-child(2n){
			.news__item{
				flex-direction: column-reverse;
			}
		}
	}
	.item__thumb{
		width: 100%;
		overflow: hidden;
		img{
			max-width: 100%;
			width: 100%;
			transition: all .5s ease;
		}
	}
	.item__info{
		background-color: #ffffff;
		padding: 40px;
	}
	.item__title{
		display: block;
		font-weight: 500;
		font-size: 20px;
		line-height: 24px;
		letter-spacing: 0.03em;
		color: #000000;
		margin-bottom: 24px;
	}
	.item__text{
		font-weight: normal;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.03em;
		color: #727689;
		display: block;
		margin-bottom: 20px;
	}
	.item__arrow{
		display: flex;
		width: 100%;
		justify-content: flex-end;
		svg{
			transition: all .5s ease;
			path{
				transition: all .5s ease;
			}
		}
	}
	.view-all{
		display: block;
		padding: 24px 40px;
		background-color: #000000;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		font-weight: 500;
		font-size: 16px;
		line-height: 40px;
		letter-spacing: 0.03em;
		color: #FFFFFF;
		text-decoration: none;
		transition: all .3s ease;
		margin-top: -8px;
		svg{
			transition: all .3s ease;
			path{
				transition: all .3s ease;
			}
		}
		&:hover{
			color: #996550;
			svg{
				transform: translateX(10px);
				path{
					fill: #996550;
				}
			}
		}
	}
}

footer{
	background-image: url(../img/contactbg.png);
	background-repeat: no-repeat;
	background-position: center 0;
	background-size: cover;
	.contact{
		padding-top: 120px;
		padding-bottom: 50px;
	}
	.form__wrap{
		width: 70%;
	}
	.contact__title{
		display: block;
		font-weight: 500;
		font-size: 24px;
		line-height: 30px;
		letter-spacing: 0.03em;
		color: #000000;
		margin-bottom: 45px;
	}
	form{
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: stretch;
		flex-wrap: wrap;
	}
	.form__field{
		width: 400px;
		height: 64px;
		margin-bottom: 40px;
		input{
			width: 100%;
			height: 100%;
			border-radius: 8px;
			border: 1px solid #C0C2CE;
			background-color: #ffffff;
			padding-left: 16px;
			font-weight: normal;
			font-size: 16px;
			line-height: 24px;
			letter-spacing: 0.03em;
			color: #000000;
			outline: #8084A7;
			&::placeholder{
				font-weight: normal;
				font-size: 16px;
				line-height: 24px;
				letter-spacing: 0.03em;
				color: #727689;
			}
		}
	}
	.form__message{
		width: 100%;
		height: 160px;
		textarea{
			width: 100%;
			height: 100%;	
			border-radius: 8px;
			border: 1px solid #C0C2CE;
			background-color: #ffffff;
			padding: 20px 16px;
			font-weight: normal;
			font-size: 16px;
			line-height: 24px;
			letter-spacing: 0.03em;
			color: #000000;
			outline: #8084A7;
			&::placeholder{
				font-weight: normal;
				font-size: 16px;
				line-height: 24px;
				letter-spacing: 0.03em;
				color: #727689;
			}
		}
	}
	.form__sbt{
		width: 100%;
		display: flex;
		justify-content: flex-end;
		height: 64px;
		input{
			width: 400px;
			height: 100%;
			cursor: pointer;
			background: #333333;
			border-radius: 8px;
			font-weight: 500;
			font-size: 16px;
			line-height: 24px;
			letter-spacing: 0.03em;
			color: #FFFFFF;
			transition: all .3s ease;
			border: 0;
			&:hover{
				background-color: #8084A7;
			}
		}
	}
	.footer__container{
		background-image: url(../img/footerb.png);
		background-repeat: no-repeat;
		background-position: center top;
		background-size: cover;
		padding: 80px 0;
		.inner{
			max-width: 1200px;
		}
	}
	.footer__list{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: stretch;
	}
	.footer__nav{
		width: 25%;
	}
	.f__nav-title{
		display: block;
		font-weight: 500;
		font-size: 24px;
		line-height: 40px;
		color: #FFFFFF;
		margin-bottom: 15px;
	}
	ul{
		margin: 0;
		padding: 0;
		li{
			margin-bottom: 16px;
			list-style-type: none;
			a{
				font-weight: normal;
				font-size: 16px;
				line-height: 24px;
				display: block;
				text-decoration: none;
				color: #FFFFFF;
				transition: all .3s ease;
				text-decoration: none;
				&:hover{
					color: #efb39b;
					text-decoration: none;
				}
			}
		}
	}
	.footer__social{
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		width: 20%;
	}
	.f-logo{
		margin-bottom: 40px;
		svg{
			transition: all .3s ease;
		}
		&:hover{
			svg{
				fill: #efb39b;
			}
		}
	}
	.social{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 80%;
		a{
			svg{
				transition: all .3s ease;
			}
			&:hover{
				svg{
					fill: #efb39b;
				}
			}
		}
	}
}
